* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('https://media.wired.com/photos/59268c5dcfe0d93c474309a2/master/w_2000,c_limit/BSP_054.jpg');
}

button:hover {
	cursor: pointer;
}

button:focus {
	text-decoration: none;
	outline: none;
}

#startBtn {
	display: flex;
	justify-content: center;
	margin: 15% 0;
}

#begin {
	border-radius: 25%;
	padding: 10px;
	background-color: purple;
	color: white;
	font-size: 22px;
}


/*Main Div*/
#firstImpression {
	display: flex;
	justify-content: center;
	margin: 15% auto 5% auto;
}

/*Link*/
#not_zelda {
	text-align: center;
}

#linkPic {
	width: 60%;
	box-shadow: 0px 0px 30px purple;
	border-radius: 15px;
	padding: 15px;
}

/*Master Chief*/
#chiefPic {
	box-shadow: 0px 0px 30px purple;
	border-radius: 15px;
}

/*Vaporeon*/
#vapz {
	box-shadow: 0px 0px 30px purple;
	border-radius: 10%;
	padding: 15px;
}

/*Pickle Rick*/
#not_morty {
	text-align: center;
}

#pickleRick {
	width: 60%;
	box-shadow: 0px 0px 30px purple;
	border-radius: 10%;
	padding: 15px;
}



#reloadBtn {
	display: flex;
	justify-content: center;
}

#home {
	border-radius: 25%;
	padding: 10px;
	background-color: purple;
	color: white;
	font-size: 22px;
}

.hidden {
	display: none;
}