* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('https://media.wired.com/photos/59268c5dcfe0d93c474309a2/master/w_2000,c_limit/BSP_054.jpg');
}

button:hover {
	cursor: pointer;
}

button:focus {
	text-decoration: none;
	outline: none;
}

#firstImpression {
	display: flex;
	justify-content: center;
	margin: 15% auto 5% auto;
}

#reloadBtn {
	display: flex;
	justify-content: center;
}

#home {
	border-radius: 25%;
	padding: 10px;
	background-color: purple;
	color: white;
	font-size: 22px;
}

.hidden {
	display: none;
}